<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BlobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=ajaystorageaccountdemo;AccountKey=Wbewa+HX2P5Wxs7V9Ia+TmWrKas6oFpe/TL9lEhfZuGQxsBuA9AyqGPp1W2FNBlhdUwEF9nwSSbj8rMXor4ifQ==;EndpointSuffix=core.windows.net"/>
    <add key="AccountName" value="ajaystorageaccountdemo"/>
    <add key="AccessKey" value="Wbewa+HX2P5Wxs7V9Ia+TmWrKas6oFpe/TL9lEhfZuGQxsBuA9AyqGPp1W2FNBlhdUwEF9nwSSbj8rMXor4ifQ=="/>
    
    <!--START EMULATOR RELATED CONNECTION STRINGS-->
    
    <add key="AccountNameEmulator" value="devstoreaccount1"/>
    <add key="AccessKeyEmulator" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="/>
    <add key="EmulatorConnectionString" value="UseDevelopmentStorage=true" />
    
    <!--END EMULATOR RELATED CONNECTION STRINGS-->
  </appSettings>
  
  
</configuration>